spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://test.maskinporten.no/

logging:
  level:
    org.springframework.security: TRACE
    org.springframework.security.oauth2.server.resource.web.server: TRACE